* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

#timer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #dfdfdf; 
    margin: 0 30px 0 30px;  
    font-size: 35px;
    text-shadow: 0 0 15px #fefcc9,
    5px -15px 20px #602222,
    -25px -25px 30px #345e30,
    15px -45px 40px #2b7b15,
    -15px -70px 50px #8fe68f,
     0 -90px 40px #85f9a0,
    5px -100px 80px #135e2c,
       
    1px 1px 0 rgb(32, 155, 32),
    1px 1px 0 green,
    1px 1px 0 rgb(8, 0, 155);
}

h1 {
    font-size: 28px;
    text-shadow: 0 0 15px #fefcc9,
    5px -15px 20px #602222,
    -25px -25px 30px #345e30,
    15px -45px 40px #2b7b15,
    -15px -70px 50px #8fe68f,
     0 -90px 40px #85f9a0,
    5px -100px 80px #95fcb7,
       
    1px 1px 0 rgb(32, 155, 32),
    1px 1px 0 green,
    1px 1px 0 rgb(8, 0, 155);
    color: #b0ffa6;
    margin-bottom: 10px;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
    margin: 0 50px 0 50px;
    padding: 0;
   
}

#countdown {
    margin: 0;
    font-size: 80px;
    width: 50%;
    height: auto;
}

/* QUIZ CONTENT */

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    background-color: #ac6161;
    margin: 20px 0 50px 0;
    background: linear-gradient(#374f23, #4d4216);
    border-radius: 20px;
    opacity: 90%;
    box-shadow: 0 0 60px rgb(143, 249, 148);
}

.questionsDiv {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 280px;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    font-size: 15px;
}

/* submit quiz/ enter name input  */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#question {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.answer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 100%;
    font-size: 10px;
    text-align: center;
    visibility: visible;
    cursor: pointer;

}

.answer-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
    width: 100%;
}

.quiz-page {
  margin: 8px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;  height: 15px;
    background-color: #b6f5c4;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 5px 0 15px 0;
    height: 35px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 15px;
    visibility: visible;
    box-shadow: 0 0 60px rgb(143, 249, 148);
    text-shadow: 0 0 15px #fefcc9,
    5px -15px 20px #602222,
    -25px -25px 30px #345e30,
    15px -45px 40px #2b7b15,
    -15px -70px 50px #8fe68f,
     0 -90px 40px #85f9a0,
    5px -100px 80px #135e2c,
       
    1px 1px 0 rgb(163, 244, 163),
    1px 1px 0 green,
    1px 1px 0 rgb(8, 0, 155);
}

#enter-name {
    visibility: hidden;
}

#submitBtn {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background-color: rgb(211, 245, 188);
    margin: 20px;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 13px;
}

/* BUTTONS */

#startButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hide {
    display:none
}

#start {
    background-color: #fe5d5d;
    font-size: 35px;
    width: 100%;
    height: auto;
    margin: 0 20px 20px 20px;
    padding: 20px;
    border-radius: 17px;
    border: none;
    font-family: 'Lexend', sans-serif;
    cursor: pointer;
    opacity: 50%;
}

#start:hover {
    background-color: black;
    cursor: pointer;
    color: rgb(245, 180, 180);
    opacity: 50%;
    box-shadow: 0 1.4rem 1.4rem 0 rgba(182, 98, 83, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

#start:focus {
     outline: none;
 }

 a.Highscores {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: white;
    font-size: 29px;
    visibility: hidden;
    text-shadow: 0 0 15px #fefcc9,
    5px -15px 20px #602222,
    -25px -25px 30px #345e30,
    15px -45px 40px #2b7b15,
    -15px -70px 50px #8fe68f,
     0 -90px 40px #85f9a0,
    5px -100px 80px #135e2c,
    1px 1px 0 rgb(163, 244, 163),
    1px 1px 0 green,
    1px 1px 0 rgb(8, 0, 155);
    
}



#hsBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0 20px 0;
    color: #8fe68f;
    text-shadow: 0 0 15px #fefcc9,
    5px -15px 20px #602222,
    -25px -25px 30px #345e30,
    15px -45px 40px #2b7b15,
    -15px -70px 50px #8fe68f,
     0 -90px 40px #85f9a0,
    5px -100px 80px #135e2c,
       
    1px 1px 0 rgb(163, 244, 163),
    1px 1px 0 green,
    1px 1px 0 rgb(8, 0, 155);
}

#scoresContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    background-image: linear-gradient(
    140deg,
  #97c490 0%, #579b44 50%, #114a09 75%);
    width: 700px;
    box-shadow:0 0 50px 5px #579b44;
    height: 400px;
    font-size: 20px;
    border-radius: 15px;
    color: #e2ffe2;
    text-shadow: 0 0 15px #a8f2af,
    5px -15px 20px #602222,
    -25px -25px 30px #345e30,
    15px -45px 40px #2b7b15,
    -15px -70px 50px #8fe68f,
     0 -90px 40px #85f9a0,
    5px -100px 80px #135e2c,
       
    1px 1px 0 rgb(163, 244, 163),
    1px 1px 0 green,
    1px 1px 0 rgb(8, 0, 155);
    padding: 40px;
    opacity: 90%;
}